* {
  font-family: 'Oswald', sans-serif;
}
.navbar {
  background-color: black;
}

.navbar-brand,
.nav-link {
  color: #ffff;
  padding-left: 10px;
}

.nav-link {
  margin-right: 10px;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #eeee;
}
