[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.2"
python-dotenv = "==1.0.0"
flask-sqlalchemy = "==3.0.5"
psycopg2-binary = "==2.9.6"
flask-cors = "==4.0.0"
flask-wtf = "==1.1.1"
gunicorn = "==20.1.0"
blinker = "==1.6.2"
click = "==8.1.3"
itsdangerous = "==2.1.2"
jinja2 = "==3.1.2"
markupsafe = "==2.1.3"
six = "==1.16.0"
sqlalchemy = "==2.0.17"
typing-extensions = "==4.6.3"
werkzeug = "==2.3.6"
wtforms = "==3.0.1"

[scripts]
dev="flask run"

[dev-packages]

[requires]
python_version = "3.9"
