{% extends 'layout.html' %} {% block content %}

<div
  class="col-xs-10 col-sm-6 col-md-6"
  style="
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  "
>
  <div class="card card-style mb-2" style="width: 700px">
    <div class="card-body">
      <div class="chart-container" style="position: relative">
        <canvas id="menu_by_votes"></canvas>
      </div>
    </div>
  </div>
</div>

{% block javascript %}
<script>
  const menu_votes_data = JSON.parse(`{{ menu_votes_chart | tojson }}`)

  const label = menu_votes_data.map((item) => item.item)
  const data = menu_votes_data.map((item) => item.votes)

  // Update scale defaults
  Chart.defaults.scale.ticks.min = 0
  // Create a new Chart instance for menu_votes_chart
  let menu_votes_chart = new Chart(document.getElementById('menu_by_votes'), {
    type: 'bar',
    data: {
      labels: label,
      datasets: [
        {
          label: 'Menu by votes',
          data: data,
          backgroundColor: [
            '#eeee',
            '#eeee',
            '#eeee',
            '#eeee',
            '#eeee',
            '#eeee',
          ],
          borderWidth: 1,
        },
      ],
    },
    options: {
      title: {
        display: true,
        text: 'Votes',
        fontSize: 20,
      },
      elements: {
        hitRadius: 3,
      },
    },
  })
</script>
{% endblock %} {% endblock %}
