{% extends 'layout.html' %} {% block content %}

<div class="col-sm-10 ml-auto mr-auto">
  <h2
    class="list-favourite-item"
    style="
      color: black;
      text-align: center;
      font-size: 28px;
      font-weight: 900;
      margin-bottom: 30px;
    "
  >
    List your favourite food and rate for it from 1 to 10!
  </h2>

  <table class="table">
    <thead class="table">
      <tr>
        <th scope="col">Menu</th>
        <th scope="col">Votes</th>
      </tr>
    </thead>
    <tbody>
      {% for menu in entries %}
      <tr>
        <td>{{ menu.item }}</td>
        <td>{{ menu.votes }}</td>
        <td>
          <a
            href="{{ url_for('delete_menu', id=menu.id) }}"
            class="btn btn-outline-danger btn-sm"
            >Delete</a
          >
        </td>
        <td>
          <a
            href="{{ url_for('update_menu', id=menu.id) }}"
            class="btn btn-outline-success btn-sm"
            >Edit</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
